<footer style="margin-top: 10px;">
  <div class="grid-fluid">
    <div class="footer-block">
        <ul>
            <li><a [routerLink]="['']" routerLinkActive="router-link-active" class="link" style="font-size: 18px;">Term of services</a></li>
        </ul>
    </div>
    <div class="footer-block">
        <ul>
          <li><a [routerLink]="['']" routerLinkActive="router-link-active" class="link" style="font-size: 18px;">Privacy Policy</a></li>
        </ul>
    </div>
     <div class="footer-block">
        <ul>
          <li><a [routerLink]="['']" routerLinkActive="router-link-active" class="link" style="font-size: 18px;">Accessibility</a></li>
        </ul>
    </div>
  </div>
  

  <div class="text-center p-2 text-white" style="background-color: #32c69a;">
    © 2020 - 2021 @<a class="text-white" style="text-decoration: none;" href="#">Shefaa</a>
  </div>
</footer>


