<app-header></app-header>

<div class="container-fliud " style="margin-top: 100px; overflow: hidden;">
    <div class="d-flex justify-content-center mb-0">
        <h4 class="d-flex d-sm-none">We Are <h4 class="ml-2" style="color: #32c69a;"> Shefaa</h4></h4>
        <h1 class="d-none d-sm-flex">We Are <h1 class="ml-2" style="color: #32c69a;"> Shefaa</h1></h1>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <div class="d-flex d-sm-none" style="font-size: 10px;">Providing you with a wide range of medicines and care products.</div>
        <div class="d-none d-sm-flex" style="font-size: 16px;">Providing you with a wide range of medicines and care products.</div>
    </div>
    <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect " style="border-radius: 100px;">
            <img class="img-responsive" src="https://img.freepik.com/free-photo/pharmacist-holding-medicine-box-capsule-pack-pharmacy-drugstore_67340-24.jpg?size=626&ext=jpg" alt="">
            <div class="overlay">
               <h2>Hover effect 1</h2>
               <a class="info" href="#">link here</a>
            </div>
        </div>
    </div> -->
    <div class="row mx-3 mb-5">
        <div class="col-sm-5">
            <div class="geeks" style="border-radius: 250px"> 
                <img src="https://i.guim.co.uk/img/media/ff6b1bb2e778ffc2d888005d7e132f5f58eafd3c/0_197_4620_2772/master/4620.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=54e90933e9b9add7e640f0801265e263"
                    alt="Geeks Image" /> 
            </div> 
        </div>
        <div class="col-sm-7">
            <div class="card shadow mt-5" style="border: 1px solid #f4f8fb; height: 100px;">
                <div class="card-title d-flex justify-content-center" style="color: #32c69a;">
                    Our Vision
                </div>
                <div class="card-body d-flex justify-content-center" style="font-size: 20px;">
                    this is a project about online pharmcies
                </div>
            </div>
        </div>
    </div>
    
</div>
    <!-- <p style="background-color: #838383; margin-top: 58px;">about-us works!</p>
    <div class="card">
        <div class="card-title bg-warning">
            this is a card
        </div>
        <div class="card-body bg-light">
            this is a card body
        </div>
    </div>
    <div style="background-color: #404040;">
        <h1>assddfgf</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
    </div> -->
<app-footer></app-footer>
