<app-header></app-header>
<div class="container-fluid">
    <p style="background-color: #838383; margin-top: 58px;">about-us works!</p>
    <div class="card">
        <div class="card-title bg-warning">
            this is a card
        </div>
        <div class="card-body bg-light">
            this is a card body
        </div>
    </div>
    <div style="background-color: #404040;">
        <h1>assddfgf</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
        <h1>ahmed</h1>
    </div>
</div>
<app-footer></app-footer>
