<app-header></app-header>
 
<div class="container-fliud " style="margin-top: 80px;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="d-flex justify-content-center">
                <h1>Your Cart</h1>
            </div>
            <div class="row" *ngIf="items">
                <div class="col-sm-4 " *ngFor="let item of items;">
                    <div  class="card shadow m-2">
                        <img src={{item.photoURL}} class="card-img-top" style="height: 20vw;">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <h5 class="card-text">{{item.price}}</h5>
                            <h5>Quantity <input type="number" placeholder="1" [(ngModel)]="quantity" min="1"
                                    style="margin-left:2%;width: 20%;height: 10%;"></h5>
                            <a class="details" href="" style="text-decoration: underline;">Details</a>
                            <br>
                            <br>
                            <a href="" class="btn btn-outline-danger btn-sm" id="add-btn">Remove from Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-2">
            <div class="d-flex justify-content-center p-3">
                <div class=" subtotal-div p-3 shadow">
                    <div class="text-center w-100 ">
                        <h4>Number of Items:{{quantity}}</h4>
                        <h4>Subtotal: 460 </h4>
                        <a [routerLink]="['/cart/checkout']" routerLinkActive="router-link-active" class="btn proceed-btn m-2">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>


<!-- <app-header></app-header>

<body>
    <div class="container-fliud "  style="margin-top: 80px;">
        <div class="row" >
            <div class="col-sm-2" style="background-color: yellowgreen;"></div>
            <div class="col-sm-8" style="background-color: violet;">
                <div class="d-flex justify-content-center">
                    <h1>Your Cart</h1>
                </div>
                <div class="row" >
                    <div *ngFor="let item of items;">
                        <div class="card shadow m-2" *ngIf="items" style="width: 30%; height: auto;" >
                            <img src={{item.photoURL}} class="card-img-top">
                            <div class="card-body" >
                                <h5 class="card-title">Name : {{item.name}}</h5>
                                <h5 class="card-text">Price : {{item.price}}</h5>
                                <h5>Quantity {{item.quantity}}<input type="number" placeholder="1" [(ngModel)]="quantity" min="1"
                                        style="margin-left:2%;width: 20%;height: 10%;"></h5>
                                <a class="details" href="" style="text-decoration: underline;">Details</a>
                                <br>
                                <br>
                                <a href="" class="btn btn-outline-danger btn-sm" id="add-btn">Remove from Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="background-color: teal;">
                <div class="d-flex justify-content-center p-3">
                    <div class="col-sm-9 subtotal-div shadow">
                        <div class="text-center">
                            <h3>Number of Items:{{quantity}}</h3>
                            <h3>Subtotal: 460 </h3>
                            <a class="btn proceed-btn">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<app-footer></app-footer> -->