body {
    clear: both;
    box-sizing: border-box;
    line-height: 0%;
}

.container {
    position: relative;
}

.card {
    position: relative;
    width: 500px;
    margin: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-top: 4%;
    /* color: rgb(154, 243, 21); */
}

form {
    width: auto;
    margin-left: 8%;
    margin-right: 8%;
}

button[type=button] {
    width: fit-content;
    text-align: center;
    /* background-color: rgb(36, 127, 202); */
}

button[type=button]:hover {
    /* color: white; */
    background-color: #32c69a;
    /* background-color: rgb(36, 127, 202); */
}

.link {
    text-decoration: none;
    color: #32c69a;
}


/* button[type=submit] {
    float: right;
} */

button[type=submit]:hover {
    background-color: #32c69a;
    color: white;
}

.color {
    color: rgb(150, 146, 146);
}

.has-mail .form-control {
    padding-left: 2.375rem;
}

.has-mail span {
    float: left;
}

.has-mail .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-user .form-control {
    padding-left: 2.375rem;
}

.has-user span {
    float: left;
}

.has-user .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-key .form-control {
    padding-left: 2.375rem;
}

.has-key span {
    float: left;
}

.has-key .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


/* responsive Media */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .row {
        width: 100%;
    }
    .container {
        width: 100%;
        float: left;
    }
    .card {
        margin: auto;
    }
}