<div class="container-fliud justify-content-center" *ngIf="products" style="margin-top: 80px;">
    <div class="row">
        <div class="col-sm-2 ">
            <!-- //////////--Filter Form ---///////// -->
            <!-- <form class="mt-5 ml-2 ">
                <div class="d-flex align-items-center mt-4 pb-1">
                  <div class="md-form md-outline my-0">
                    <label for="form" class="ml-3">Filter</label>
                    <input id="from" type="text" class="form-control mb-0">
                    
                  </div>
                 
                </div>
              </form> -->
        </div>
        <div class="col-sm-8 mb-3">
            <div class="text-center mb-3">
                <h2>Available Products</h2>
            </div>
            <div class=" ">

                <div class="row d-flex justify-content-center">

                    <div class="col-sm-3 m-2 " *ngFor="let product of products;">
                        <div>
                            <div class="card shadow ">
                                <img src={{product.photoURL}} alt="" class="card-img-top" style="width:100%;height: 20vw;">
                                <div class="card-body">
                                    <span class="card-title">{{product.name}}</span>
                                    <h5 class="card-text">{{product.price}} L.E</h5>
                                    <a [routerLink]="['/products/details']" [queryParams]="{ID: product.ID}" routerLinkActive="router-link-active" style="color:#404040;text-decoration: underline;">Details</a>
                                    <br>
                                    <button (click)="addToCart(product)" class="btn btn-outline-light btn-sm" id="add-btn">Add to
                                        Cart</button>
                                    <a (click)="addToFavourite(product)" class="btn btn-outline-danger btn-sm" id="heart"><i class="fa fa-heart"
                                            aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container-fliud " *ngIf="products" style="margin-top: 80px;">
    <div *ngFor="let product of products;">
        <div class="col-sm-3 m-4 ">
            <div class="card shadow">
                <img src={{product.photoURL}} alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h5 class="card-text">{{product.price}} EGP</h5>
                    <a [routerLink]="['/products/details']" [queryParams]="{ID: product.ID}" style="color:#404040;text-decoration: underline;">Details</a>
                    <br>
                    <a (click)="addToCart(product)" class="btn btn-outline-light btn-sm" id="add-btn">Add to Cart</a>
                    <a href="" class="btn btn-outline-danger btn-sm" id="heart"><i class="fa fa-heart"
                            aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->