<!-- pharmacies start -->
<div class="container-fliud w-100 p-5 light-back">
    <div class="" style="margin-top: 40px;margin-bottom: 100px;margin-left: 50px;">
        <h2 class="mb-5 text-center larg-text">Our Pharmacies</h2>
        <div class="row">
            <div class=" border mr-5">
                <div class="border shadow">
                    <img src="/assets/images/pharm1.png" alt="elazaby">
                    <div class="light-back">
                        <h5 class="text-center pt-3 larg-text">Elazaby</h5>
                    </div>

                </div>
            </div>
            <div class=" border mr-5">
                <div class="border shadow">
                    <img src="/assets/images/pharm1.png" alt="elazaby">
                    <div class="light-back">
                        <h5 class="text-center pt-3 larg-text">Elazaby</h5>
                    </div>

                </div>
            </div>
            <div class=" border mr-5">
                <div class="border shadow">
                    <img src="/assets/images/pharm1.png" alt="elazaby">
                    <div class="light-back">
                        <h5 class="text-center pt-3 larg-text">Elazaby</h5>
                    </div>

                </div>
            </div>
            <div class=" border">
                <div class="border shadow">
                    <img src="/assets/images/pharm1.png" alt="elazaby">
                    <div class="light-back">
                        <h5 class="text-center pt-3 larg-text">Elazaby</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- pharmacies end -->

