<!-- pharmacies start -->
<div class="light-back "  >
    <div class=" justify-content-center align-self-center ">

        <div class="p-5 m-5">
            <h2 class="mb-5 text-center larg-text">Our Pharmacies</h2>
            <div class="row">
                <div class=" border mr-5">
                    <div class="border shadow">
                        <img src="/assets/images/pharm1.png" alt="elazaby">


                    </div>
                </div>
                <div class=" border mr-5">
                    <div class="border shadow">
                        <img src="/assets/images/pharm1.png" alt="elazaby">


                    </div>
                </div>
                <div class=" border mr-5">
                    <div class="border shadow">
                        <img src="/assets/images/pharm1.png" alt="elazaby">


                    </div>
                </div>
                <div class=" border">
                    <div class="border shadow">
                        <img src="/assets/images/pharm1.png" alt="elazaby">


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <section class="Middle2 p-5 light-back w-100">
    <h2 class="mb-5 text-center larg-text">Our Pharmacies</h2>
    <div class="row justify-content-center align-self-center">
        <div class="col-md-3">
            <div class="shadow">
                <img src="/assets/images/pharm1.png" alt="elazaby">
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow">
                <img src="/assets/images/pharm1.png" alt="elazaby">
            </div>
        </div>
        <div class="col-md-3">

            <div class="shadow">
                <img src="/assets/images/pharm1.png" alt="elazaby">
            </div>
        </div>
        <div class="col-md-3">
            <div class="shadow">
                <img src="/assets/images/pharm1.png" alt="elazaby">
            </div>
        </div>
    </div>
</section>  -->

<!-- pharmacies end -->