<div class="container-fliud">

    <div class="card row mt-5">
        <h4 class="text-center greeting">Forget your password!</h4>

        <form [formGroup]="formGroup">
            <div class="form-group ">
                <label for="email ">Email address:</label>
                <input formControlName="email" type="email" class="form-control" name="email" placeholder="Enter your email " id="email ">

                <div *ngIf="formGroup.controls['email'].invalid && formGroup.controls['email'].dirty ">
                    <small class="form-text text-danger " *ngIf="formGroup.controls['email'].hasError( 'required') ">Email is required!</small>
                    <small class="form-text text-danger " *ngIf="formGroup.controls['email'].hasError( 'email') ">invalid Email !</small>
                    <small class="form-text text-danger " *ngIf="formGroup.controls['email'].hasError( 'minLength') ">min length is 10</small>
                    <small class="form-text text-danger " *ngIf="formGroup.controls['email'].hasError( 'maxlength') ">max length is 50</small>
                </div>
            </div>
            <div *ngIf="isCodeSent">
                <label for="checkCode "> Reset Code:</label>
                <input type="text" #inputCode (change)="change(inputCode.value)" class="form-control " id="checkCode ">
            </div> <br>

            <div *ngIf="!isCodeSent">
                <button [disabled]="formGroup.invalid" type="button " (click)="sendCode()" style="float: right;" class="btn btn-outline-info ">Send Reset Code </button><br>
            </div> <br> <br>

            <div *ngIf="isCodeSent">
                <button type="submit " (click)="verifyCode()" style="float: right;" class="btn btn-outline-info ">Reset password </button><br>
            </div> <br> <br>
            <p class="text-center "> <a class="link " [routerLink]="[ '/registeration/login'] " routerLinkActive="router-link-active ">Back to login!</a></p>

        </form>
    </div>
</div>
<app-registeration-footer></app-registeration-footer>