<div class="container">

    <div class="card row">
        <h4 class="text-center greeting">Forget your password!</h4>

        <form action="/registeration/resetPassword" method="POST">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" placeholder="Enter your email" id="email">
            </div>
            <div>
                <label for="checkCode"> Reset Code:</label>
                <input type="text" class="form-control" id="checkCode">
            </div> <br>
            <div>
                <button type="submit" (click)="sendCode()" class="btn btn-outline-warning ">Send Reset Code </button><br>
            </div> <br> <br>
            <p class="text-center"> <a [routerLink]="['/registeration/login']" routerLinkActive="router-link-active">Back to login!</a></p>

        </form>
    </div>
</div>
<app-registeration-footer></app-registeration-footer>