body {
    clear: both;
    box-sizing: border-box;
}

.card {
    position: relative;
    width: 50%;
    margin: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.card .greeting {
    margin-top: 5%;
}

form {
    width: auto;
    margin: 20px;
}

button[type=submit]:hover {
    background-color: #32c69a;
}

.link {
    text-decoration: none;
    color: #32c69a;
}