<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Home</title>
    <style>
        /* carousel  */
        /* Make the image fully responsive */
        
        .carousel-inner img {
            margin: auto;
        }
        
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            height: 100px;
            width: 100px;
            outline: black;
            background-size: 100%, 100%;
            border-radius: 50%;
            /* border: 0.2px solid black; */
            background-image: none;
        }
        
        .carousel-control-next-icon:after {
            content: '>';
            font-size: 40px;
            color: black;
        }
        
        .carousel-control-prev-icon:after {
            content: '<';
            font-size: 40px;
            color: black;
        }
        
        .carousel-indicators li {
            background-color: #999;
            background-color: rgba(70, 70, 70, 0.25);
        }
        
        .carousel-indicators .active {
            background-color: #444;
        }
        /* carousel */
        /* services */
        
        .service {
            width: 40%;
        }
        /* services*/
        
        .inp {
            width: 500px;
        }
    </style>
</head>

<body>
    <app-header></app-header>

    <section class="container-fliud mt-2">
        <div class="Middle p-5 ">
            <div class="row justify-content-center align-self-center">
                <!-- carousel start -->
                <div id="demo" class="carousel slide " data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <img src="/assets/images/1.jpg" alt="" width="800px" height="400px">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/2.png" alt="" width="800px" height="400px">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/3.jpg" alt="" width="800px" height="400px">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
                <!-- carousel end -->

                <!-- qoute start -->
                <div class="" style="margin-left:400px;margin-top: 100px; ">
                    <h1>Your medication is just a click away</h1>
                    <h4 class="w-50 pl-3">Access to your medication has become easier and faster than ever before, because through the CHEFAA website you can find out the closest pharmacies to you, in addition to helping you read your prescription
                    </h4>
                </div>
                <!-- qoute end -->
                <!-- services start -->
                <div class="" style="margin-top: 70px;">

                    <h2 class="text-center ">Our Services</h2>
                    <p class="text-center mb-5">To choose from</p>
                    <div class=" row  justify-content-center align-self-center">

                        <div class="service border p-3 ">
                            <i class="fa fa-bicycle mb-4" style="font-size:60px;"></i>
                            <h5 class="font-weight-bold">ORDER DELIVERY</h5>
                            <p>Search a comprehensive product database and have your order delivered based on your geo-location from the best-matching partner pharmacy across Egypt!</p>

                        </div>
                        <div class="service border p-3 ">
                            <i class="fas fa-file-prescription mb-4" style="font-size:60px;"></i>
                            <h5 class="font-weight-bold">UPLOAD YOUR PRESCRIPTION</h5>
                            <p>Snap a picture of your prescription, upload it and leave the experts decipher that hand-written prescription, We’ve got you covered!</p>

                        </div>

                    </div>

                    <div class=" row  justify-content-center align-self-center">

                        <div class="service border p-3 ">
                            <i class="fa fa-cc-stripe mb-4" style="font-size:60px;"></i>
                            <h5 class="font-weight-bold">ORDER BY PAYMENT</h5>
                            <p>Search a comprehensive product database and have your order delivered based on your geo-location from the best-matching partner pharmacy across Egypt!</p>

                        </div>
                        <div class="service border p-3 ">
                            <i class="fas fa-phone mb-4" style="font-size:60px;"></i>
                            <h5 class="font-weight-bold">FOLLOW-UP IN A CERTAIN NUMBER</h5>
                            <p>Snap a picture of your prescription, upload it and leave the experts decipher that hand-written prescription, We’ve got you covered!</p>

                        </div>

                    </div>
                </div>
                <!-- services end -->

                <!-- pharmacies start -->
                <div style="margin-top: 80px;">
                    <h2 class="mb-3">Our Pharmacies</h2>
                    <div class="row">
                        <div class="row border mr-5">
                            <div class="border shadow">
                                <img src="/assets/images/4.png" alt="elazaby">
                                <div style="background-color: rgb(221, 218, 207);">
                                    <h5 class="text-center pt-3">Elazaby</h5>
                                </div>

                            </div>
                        </div>
                        <div class="row border mr-5">
                            <div class="border shadow">
                                <img src="/assets/images/4.png" alt="elazaby">
                                <div style="background-color: rgb(221, 218, 207);">
                                    <h5 class="text-center pt-3">Elazaby</h5>
                                </div>

                            </div>
                        </div>
                        <div class="row border mr-5">
                            <div class="border shadow">
                                <img src="/assets/images/4.png" alt="elazaby">
                                <div style="background-color: rgb(221, 218, 207);">
                                    <h5 class="text-center pt-3">Elazaby</h5>
                                </div>

                            </div>
                        </div>
                        <div class="row border">
                            <div class="border shadow">
                                <img src="/assets/images/4.png" alt="elazaby">
                                <div style="background-color: rgb(221, 218, 207);">
                                    <h5 class="text-center pt-3">Elazaby</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- pharmacies end -->

                <!-- best Sellers start -->
                <div style="margin-top: 100px;">
                    <h2 class="mb-3 text-center">Best sellers</h2>
                    <div class="row">
                        <div class="card shadow" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/5.png" style="height: 50%;" alt="bestseller1">
                            <div class="card-body">
                                <h5 class="card-title">Bless cream</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Add to card</a>
                            </div>
                        </div>
                        <div class="card ml-5" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/5.png" alt="bestseller1">
                            <div class="card-body">
                                <h5 class="card-title">Bless cream</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Add to card</a>
                            </div>
                        </div>
                        <div class="card ml-5" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/5.png" alt="bestseller1">
                            <div class="card-body">
                                <h5 class="card-title">Bless cream</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Add to card</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/5.png" alt="bestseller1">
                            <div class="card-body">
                                <h5 class="card-title">Bless cream</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Add to card</a>
                            </div>
                        </div>
                        <div class="card ml-5" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/5.png" alt="bestseller1">
                            <div class="card-body">
                                <h5 class="card-title">Bless cream</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Add to card</a>
                            </div>
                        </div>
                        <div class="card ml-5" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/5.png" alt="bestseller1">
                            <div class="card-body">
                                <h5 class="card-title">Bless cream</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Add to card</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- best Sellers end -->

                <!-- feedback start -->
                <div style="margin-top: 100px;">
                    <h2 class="text-center mb-3 ">
                        CONTACT US FOR FREE CONSULTATION
                    </h2>
                    <div class="mt-5">
                        <form>
                            <div class="row">
                                <div>
                                    <input class="form-control form-control-lg mb-3 rounded inp " type="text" placeholder="Name*">
                                    <input class="form-control form-control-lg mb-3" type="text" placeholder="E-mail*">
                                    <input class="form-control form-control-lg mb-3 " style="height: 300px;" type="text" placeholder="Message*">
                                </div>
                                <div class="ml-3">
                                    <input class="form-control form-control-lg mb-3 inp" type="text" placeholder="Phone">
                                    <input class="form-control form-control-lg mb-3" type="text" placeholder="I`m interested in service">
                                    <button class="form-control form-control-lg btn-info " type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- feedback end -->



            </div>
        </div>

    </section>


    <app-footer></app-footer>

</body>

</html>