<footer class="text-white text-center" style="background-color: #32c69a;">
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-lg-3 col-md-3">
          <a class="navbar-brand text-light" href="#">
              <img src="/assets/images/logo.jpeg" alt="" width="120" class="rounded-circle d-inline-block align-top">
          </a>
      </div>

      <div class="col-lg-9 col-md-9">
        <div class="row">
          <a href="#" class="text-decoration-none m-2 text-white" style="font-size: 20px;">Home</a>
          <a href="#" class="text-decoration-none m-2 text-white" style="font-size: 20px;">Products</a>
          <a href="#" class="text-decoration-none m-2 text-white" style="font-size: 20px;">Features</a>
          <a href="#" class="text-decoration-none m-2 text-white" style="font-size: 20px;">About</a>
          <a href="#" class="text-decoration-none m-2 text-white" style="font-size: 20px;">Contact Us</a>
        </div>

        <div class="row">
          <a href="https://shefaa.official@gmail.com" class="text-decoration-none m-4" style="font-size: 20px;">
            <i class="fa fa-envelope" style="font-size: 60px; color: #b81b1b"></i>
          </a>
          <a href="htttps://twitter.com/shefaa.official" class="text-decoration-none m-4" style="font-size: 20px;">
            <i class="fa fa-twitter" style="font-size: 60px; color: #1e92ff"></i>
          </a>
          <a href="#" class="text-decoration-none m-4" style="font-size: 20px;">
            <i class="fa fa-phone" style="font-size: 60px; color: #3a3d3b;"></i>
          </a>
          <a href="https://www.facebook.com/shefaa/official" class="text-decoration-none m-4" style="font-size: 20px;">
            <i class="fa fa-facebook-square" style="font-size: 60px; color: #4061e6"></i>
          </a>
          <a href="htttps://linkedin.com/shefaa.officail" class="text-decoration-none m-4" style="font-size: 20px;">
            <i class="fa fa-linkedin" style="font-size: 60px; color: #0a66c2"></i>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 - 2021 @<a class="text-light" href="#">Chefaa</a>
  </div>
</footer>

