/* footer div.grid-fluid-logo {
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 25px 0;
    margin-left: 300px;
}

footer .footer-block-logo {
    margin: 0 0 0 40px;
    vertical-align: top;
} */

footer div.grid-fluid {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 25px 0;
    /* margin-left: -1300px; */
}

footer .footer-block {
    margin: 0 80px;
    vertical-align: top;
}

h3 {
    color: white;
    font-family: Niveau Grotesk;
}

footer div.grid-fluid ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

footer div.grid-fluid ul li {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

footer a {
    color: #fafafa;
    font-weight: 300;
    text-decoration: none;
    z-index: 20;
    position: relative;
}

footer a:hover {
    color: #838383;
}

.gmail:hover {
    color: red;
}

.twitter:hover {
    color: darkturquoise;
}

.facebook:hover {
    color: royalblue;
}

.linkedin:hover {
    color: blue;
}